.btn {
    font-size: 20px;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: lightblue;
}

.div {
    margin: 10px;
}